ul a {
    color: inherit;
    text-decoration: none;
}

.highlighted img {
    width: 100%;
}

.highlighted {
    margin: 2%;
    border-radius: 1em;
}

.highlighted:hover {
    box-shadow: 0 0 11px rgba(225,225,225, 1);
    transform: translateY(-5px);
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.contact-card {
    width: 30%;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-card:hover {
    transform: translateY(-5px);
}

.cgv-text{
    margin: 2%;
}

.cgv-text h2 {
    margin: 2%;
}

.cgv-text p {
    margin-left: 4%;
}
